List Based Practice Problem (continuation) :

In [3]:
string = input('Enter the elements of your choice : ')
list1 = [int(item) for item in string.split()]
set1 = set(list1)
v = list(set1)
print('The list containing unique elements is : ', v)

Enter the elements of your choice :  1 2 2 3 3 3 4 4 4 4 5 5 5 5 5

The list containing unique elements is :  [1, 2, 3, 4, 5]

In [5]:
s1 = input('Enter the elements of your choice for list1 : ')
list1 = [int(item1) for item1 in s1.split()]
s2 = input('Enter the elements of your choice for list1 : ')
list2 = [int(item2) for item2 in s2.split()]

commonele = list(set(list1) & set(list2))

commonele = sorted(commonele)

print('The list of common elements present are  : ', commonele)

Enter the elements of your choice for list1 :  1 2 3 4 5 6
Enter the elements of your choice for list1 :  2 4 6 8 10 12

The list of common elements present are  :  [2, 4, 6]

In [7]:
s1 = input('Enter the elements of your choice for list1 : ')
list1 = [int(item1) for item1 in s1.split()]
s2 = input('Enter the elements of your choice for list1 : ')
list2 = [int(item2) for item2 in s2.split()]

difference1 = list(set(list1) - set(list2))
difference2 = list(set(list2) - set(list1))
difference1 =  sorted(difference1)
difference2 = sorted(difference2)

print('The list of differences is : ', difference1, ' and ', difference2)

Enter the elements of your choice for list1 :  1 2 4 6 7 5 9 0
Enter the elements of your choice for list1 :  1 3 2 5 7 0 8 3

The list of differences is :  [4, 6, 9]  and  [3, 8]

In [3]:
s1 = input('Enter the elements of your choice for list1 : ')
list1 = [int(item1) for item1 in s1.split()]
s2 = input('Enter the elements of your choice for list1 : ')
list2 = [int(item2) for item2 in s2.split()]

list1.extend(list2)

list1 = sorted(list1)

print('The merged list is : ', list1)

Enter the elements of your choice for list1 :  6 7 8 9 0
Enter the elements of your choice for list1 :  1 2 3 4 5

The merged list is :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
s = input('Enter the string of your choice : ')
l1 = [int(item) for item in s.split()]
l2 = [item1*2 for item1 in l1]
print('The list with each element doubled is : ',l2)

Enter the string of your choice :  1 2 3 4 5 6 7 8 9 0

The list with each element doubled is :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 0]

In [5]:
s = input('Enter the string of your choice : ')
l1 = [int(item) for item in s.split()]
oddlist = [i for i in l1 if (i%2!=0)]

print('The new list with all even values filtered out are : ', oddlist)

Enter the string of your choice :  1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

The new list with all even values filtered out are :  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [6]:
s = input('Enter the string of your choice : ')
l1 = [(item) for item in s.split()]
l2 = [int(item) for item in l1]

print('The list of string is : ', l1)
print('The list of inetger is : ', l2)

Enter the string of your choice :  1 2 3 4 5 6 7 8 9

The list of string is :  ['1', '2', '3', '4', '5', '6', '7', '8', '9']
The list of inetger is :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
s = input('Enter the string of your choice : ')
l1 = [int(item) for item in s.split()]
l2 = [(item) for item in l1]

print('The list of integer is : ', l1)
print('The list of string is : ', l2)

Enter the string of your choice :  1 2 3 4 5 6 7 8

The list of integer is :  [1, 2, 3, 4, 5, 6, 7, 8]
The list of string is :  [1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
def flattendlist(nestedlist):
    flattened = []
    for item in nestedlist:
        if isinstance(item,list):
            flattened.extend(flattendlist(item))
        else:
            flattened.append(item)
            
    return flattened

nestedlist = [1, [2], [3,[4,5]]]
flatlist = flattendlist(nestedlist)
print('Output : ', flatlist)

Output :  [1, 2, 3, 4, 5]

In [13]:
fiblist = [0,1]

while len(fiblist) < 10 :
    fibx = fiblist[-1] + fiblist[-2]
    fiblist.append(fibx)
    
print('The updated fibonacci list is : ', fiblist)

The updated fibonacci list is :  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [14]:
def sortornot(list1):
    for i in range(1,len(list1)):
        if list1[i] < list1[i-1]:
            return False
    return True

s = input('Enter the elements of your desired list : ')
list1 = [int(item) for item in s.split()]
sortn = sortornot(list1)

if sortn:
    print('The list is sorted')
else :
    print('The list is not sorted')

Enter the elements of your desired list :  1 3 4 6 8 9 0

The list is not sorted

In [18]:
def rotatedlist(list1,n):
    return list1[n:] + list1[:n]

s = input('Enter the elements of the list of your choice : ')
list1 = [int(item) for item in s.split()]
n = int(input('Enter the nth position on which the rotation is to take place : '))
rotatedleft = rotatedlist(list1,n)
print('The list after rotating it leftwise : ',rotatedleft)

Enter the elements of the list of your choice :  1 2 3 4 5 6
Enter the nth position on which the rotation is to take place :  3

The list after rotating it leftwise :  [4, 5, 6, 1, 2, 3]

In [23]:
def rotatedlist(list1,n):
    return list1[-n:] + list1[:-n]

s = input('Enter the elements of the list of your choice : ')
list1 = [int(item) for item in s.split()]
n = int(input('Enter the nth position on which the rotation is to take place : '))
rotatedright = rotatedlist(list1,n)
print('The list after rotating it leftwise : ',rotatedright)

Enter the elements of the list of your choice :  1 2 3 4 5 6
Enter the nth position on which the rotation is to take place :  2

The list after rotating it leftwise :  [5, 6, 1, 2, 3, 4]

In [24]:
from sympy import primerange

list1 = list(primerange(1,51))

print('The list of prime numbers : ', list1)

The list of prime numbers :  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [3]:
def splitlistx(list1, n):
    for i in range(0,len(list1),n):
        yield list1[i:i+n]
        
s = input('Enter the elements of the list : ')
list1 = [int(item) for item in s.split()]
n = int(input('Enter the size of each chunk : '))

chunklist = list(splitlistx(list1, n))

print('The Output : ', chunklist)

Enter the elements of the list :  1 2 3 4 5 6 7 8
Enter the size of each chunk :  3

The Output :  [[1, 2, 3], [4, 5, 6], [7, 8]]

In [6]:
s = input('Enter the elements of the list : ')
list1 = [int(item) for item in s.split()]

list1 = sorted(list1, reverse=True)

secondlargestelement = list1[1]

print('The second largest element of the given list is : ', secondlargestelement)

Enter the elements of the list :  1 2 3 4 5 6 7 8 9

The second largest element of the given list is :  8

In [9]:
s = input('Enter the elements of the list to be squared : ')
list1 = [int(item) for item in s.split()]

for i in range(len(list1)):
    list1[i] = list1[i]*list1[i]
    
print('The squared list is : ', list1)

Enter the elements of the list to be squared :  1 2 3 4 5 6

The squared list is :  [1, 4, 9, 16, 25, 36]

In [10]:
s = input('Enter the elements of the list : ')
list1 = [items for items in s.split()]
dicr1 = { value : index for index, value in enumerate(list1)}

print('Output as dictionary : ', dicr1)

Enter the elements of the list :  a b c d e f g h i j

Output as dictionary :  {'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9}

In [11]:
import random

s = input('Enter the elements of the list : ')
list1 = [int(item) for item in s.split()]
 
randomlist = random.sample(list1,len(list1))

print('Output : ', randomlist)

Enter the elements of the list :  1 2 3 4 5 6 7 8 9

Output :  [7, 1, 4, 9, 3, 8, 5, 6, 2]

In [19]:
def fact1(n):
    if n == 0 or n == 1:
        return 1
    else :
        return n * factorial(n-1)
    

factnum = [fact1(i) for i in range(10)]

print('The Output : ', factnum)

The Output :  [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [20]:
s1 = input('Enter the elements of the first list : ')
s2 = input('Enter the elements of the second list : ')
l1 = [int(items) for items in s1.split()]
l2 = [int(items) for items in s2.split()]
print('The first list is : ', l1)
print('The second list is : ', l2)
commonele = set(l1) & set(l2)

if commonele:
    print('At least one common element is present in both the sets')
else:
    print('No common elements are present in both the sets')

Enter the elements of the first list :  1 2 3 4 5 6
Enter the elements of the second list :  3 6 9 12 15 18

The first list is :  [1, 2, 3, 4, 5, 6]
The second list is :  [3, 6, 9, 12, 15, 18]
At least one common element is present in both the sets

In [21]:
s = input('Enter the elements of the list : ')
l1 = [int(items) for items in s.split()]

print('The list before element removal : ', l1)

while l1:
    l1.pop()
    
print('The list after element removal : ', l1)

Enter the elements of the list :  1 2 3 4 5 6 7 8

The list before element removal :  [1, 2, 3, 4, 5, 6, 7, 8]
The list after element removal :  []

In [22]:
s = input('Enter the elements of the list : ')
l1 = [int(items) for items in s.split()]

print('The list before modifications : ', l1)

for i in range(len(l1)):
    if l1[i] < 0:
        l1[i] = 0

print('The list after modifications : ', l1)

Enter the elements of the list :  1 2 3 4 -8 9 -7 0 -45

The list before modifications :  [1, 2, 3, 4, -8, 9, -7, 0, -45]
The list after modifications :  [1, 2, 3, 4, 0, 9, 0, 0, 0]

In [23]:
s = input('Enter the elements of the list : ')
l1 = [(items) for items in s.split()]

print('List of words : ', l1)

Enter the elements of the list :  Hello my name is Anthony Gonsalvez

List of words :  ['Hello', 'my', 'name', 'is', 'Anthony', 'Gonsalvez']

In [24]:
l1 = ['Hello', 'my', 'name', 'is', 'Anthony', 'Gonsalvez']
s = ' '.join(l1)

print(s)

Hello my name is Anthony Gonsalvez

In [25]:
n = int(input('Enter the nth power of 2 : '))

list1 = [2**i for i in range(n+1)]

print('The list of nth powers of 2 is : ', list1)

Enter the nth power of 2 :  10

The list of nth powers of 2 is :  [1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [26]:
l1 = ['red','blue','green','yellow','pink','black','white','emerald','tangerine']

maxstr = max(l1, key=len)

print('Max string present inside the list : ', maxstr)

Max string present inside the list :  tangerine

In [27]:
l1 = ['redex','blue','green','yellow','pink','black','white','emerald','tangerine']

minstr = min(l1, key=len)

print('Max string present inside the list : ', minstr)

Max string present inside the list :  blue

In [28]:
n = int(input('Enter the nth limit of the triangular numbers : '))

triangularset = [(i*(i+1))/2 for i in range(n)]

print('The list of triangular numbers are : ', triangularset)

Enter the nth limit of the triangular numbers :  10

The list of triangular numbers are :  [0.0, 1.0, 3.0, 6.0, 10.0, 15.0, 21.0, 28.0, 36.0, 45.0]

In [31]:
def checkitz(mainlist, sublist):
    mainlen = len(mainlist)
    sublen = len(sublist)
    i,j = 0,0
    
    
    while i<mainlen and j<sublen:
        if mainlist[i]==sublist[j]:
            j = j + 1
        i = i + 1
        
    return j == sublen

mainlist = [1,2,3,4,5,6,7]
sublist = [3,4,5]

if checkitz(mainlist, sublist):
    print('Subsequence is present')
else:
    print('Subsequence is not present')

Subsequence is present

In [32]:
s = input('Enter the elements of the list : ')
list1 = [int(item) for item in s.split()]

n1 = int(input('Enter the first index selected for swapping : '))
n2 = int(input('Enter the second index selected for swapping : '))

print('The list before swapping : ', list1)

list1[n1], list1[n2] = list1[n2], list1[n1]

print('The list after swapping : ', list1)

Enter the elements of the list :  1 2 3 4 5 6 7 8
Enter the first index selected for swapping :  4
Enter the second index selected for swapping :  5

The list before swapping :  [1, 2, 3, 4, 5, 6, 7, 8]
The list after swapping :  [1, 2, 3, 4, 6, 5, 7, 8]

Tuple Based Practice Problem :

In [3]:
s = input('Input the elements of the tuple : ')
num = s.split()
t = tuple(map(int,num))
print('The tuple with integers 1 to 5 is : ', t)

Input the elements of the tuple :  1 2 3 4 5

The tuple with integers 1 to 5 is :  (1, 2, 3, 4, 5)

In [5]:
s = input('Enter the elements of the tuple : ')
num = s.split()
t = tuple(map(int,num))
n = int(input('Enter the position of the element to be accessed : '))
nt = t[n]
print('The element at ',n+1,'th position is : ',nt)

Enter the elements of the tuple :  1 2 3 4 5
Enter the position of the element to be accessed :  2

The element at  3 th position is :  3

In [6]:
s = input('Enter the elements of the tuple : ')
num = s.split()
t = tuple(map(int,num))
count  = 0

for i in t:
    count =  count + 1
    
print('The length of tuple t :',t,' is : ',count)

Enter the elements of the tuple :  1 2 3 4 5

The length of tuple t : (1, 2, 3, 4, 5)  is :  5

In [2]:
s = input('Enter the elements of the tuple : ')
num1 = s.split()
t = tuple(map(int, num1))

n = int(input('Enter the occurence of the element : '))

c = t.count(n)

print('The occurence of',n,'is :',c)

Enter the elements of the tuple :  1 2 3 4 5 6 3 4 5 2 1 6 4 4 3 2 5 4 6 1
Enter the occurence of the element :  4

The occurence of 4 is : 5

In [3]:
s = input('Enter the elements of the tuple : ')
num1 = s.split()
t = tuple(map(int, num1))

n = int(input('Enter the element for finding its first occurence : '))

i = t.index(n)

print('The occurence of',n,'is :',i)

Enter the elements of the tuple :   1 2 2 3 4 5 6 6 5 4 1
Enter the element for finding its first occurence :  2

The occurence of 2 is : 1

In [7]:
s = input('Enter the elements of the tuple : ')
n1 = s.split()
t = tuple(n1)
i = input('Enter the element to be checked for : ')

if i in t:
    print(f'Element {i} exists in the tuple {t}')
    
else:
    print(f'Element is not found inside of the tuple')

Enter the elements of the tuple :  1 2 3 4 5 6 7 8
Enter the element to be checked for :  6

Element 6 exists in the tuple ('1', '2', '3', '4', '5', '6', '7', '8')

In [8]:
s = input('Enter the elements of the tuple : ')
n = s.split()
t = tuple(n)
l = list(t)
print('The new list is : ', l)

Enter the elements of the tuple :  1 2 3 4 5 6 7 8

The new list is :  ['1', '2', '3', '4', '5', '6', '7', '8']

In [1]:
s = input('Enter the elements of the list : ')
l = [item for item in s.split()]
print('The list : ',l)
t = tuple(l)
print('The tuple : ',t)

Enter the elements of the list :  1 2 3 4 5 6 7 8

The list :  ['1', '2', '3', '4', '5', '6', '7', '8']
The tuple :  ('1', '2', '3', '4', '5', '6', '7', '8')

In [2]:
t = (1,2,3,4,5)
a,b,c,d,e = t
print(' a : ',a)
print(' b : ', b)
print(' c : ', c)
print(' d : ', d)
print(' e : ', e)

 a :  1
 b :  2
 c :  3
 d :  4
 e :  5

In [12]:
s = input('Enter the elements of the tuple : ')
s1 = s.split()
x = [int(n) for n in s1 if int(n) %2==0]
y = tuple(x)
print('The tuple of even numbers is : ', y)

Enter the elements of the tuple :  1 2 3 4 5 6 7 8 9 10

The tuple of even numbers is :  (2, 4, 6, 8, 10)

In [13]:
s = input('Enter the elements of the tuple : ')
s1 = s.split()
x = [int(n) for n in s1 if int(n) %2!=0]
y = tuple(x)
print('The tuple of even numbers is : ', y)

Enter the elements of the tuple :  1 2 3 4 5 6 7 8 9 10

The tuple of even numbers is :  (1, 3, 5, 7, 9)

In [15]:
s = input('Enter the elements of the first tuple : ')
x = input('Enter the elements of the second tuple : ')
s1 = s.split()
x1 = x.split()
t1 = tuple(map(str, s1))
t2 = tuple(map(str, x1))
concat_t = t1 + t2
print('The concatenated tuple is : ', concat_t)

Enter the elements of the first tuple :  1 2 3 4
Enter the elements of the second tuple :  5 6 7 8

The concatenated tuple is :  ('1', '2', '3', '4', '5', '6', '7', '8')

In [19]:
s = input('Enter the elements of the tuple : ')
s1 = s.split()
t = tuple(map(int, s1))
repeat_t = t*3
print('The tuple after 3 times of repetition is : ', repeat_t)

Enter the elements of the tuple :  1 2 3 4

The tuple after 3 times of repetition is :  (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [20]:
t = ()

if len(t)==0:
    print('The tuple is empty')
else:
    print('The tuple is not empty')

The tuple is empty

In [21]:
t = (('a'), ('b',('c','d')), ('e',('f',('g','h'))))
print('The nested tuple is : ', t)

The nested tuple is :  ('a', ('b', ('c', 'd')), ('e', ('f', ('g', 'h'))))

In [24]:
t = (('a','f'), ('b',('c','d')), ('e',('f',('g','h'))))

f1 = t[0]
finner1 = f1[0]

print('The first element inside of the nested tuple is : ', finner1)

The first element inside of the nested tuple is :  a

In [25]:
s = input('Enter the element of the tuple : ')
s1 = s.split()
t = tuple(map(str, s1))
print('The required tuple is : ', t)

Enter the element of the tuple :  4

The required tuple is :  ('4',)

In [29]:
s = input('Enter the elements of the first tuple : ')
s1 = s.split()
t1 = tuple(map(int, s1))
print('The first tuple is : ', t1)
x = input('Enter the elements of the second tuple : ')
x1 = x.split()
t2 = tuple(map(int, x1))
print('The second tuple is : ', t2)

if t1 > t2 :
    print(' t1 > t2 ')
elif t1 < t2 :
    print(' t2 > t2 ')
else :
    print('Both the tuples are equal')

Enter the elements of the first tuple :  1 2 3 4

The first tuple is :  (1, 2, 3, 4)

Enter the elements of the second tuple :  5 6 7 8

The second tuple is :  (5, 6, 7, 8)
 t2 > t2

In [30]:
s = input('Enter the elements of the tuple : ')
s1 = s.split()
t = tuple(map(int, s1))

print('The tuple t before deletion : ', t)

del t

print('The tuple t after deletion : ', t)

Enter the elements of the tuple :  1 2 3 4 5 6

The tuple t before deletion :  (1, 2, 3, 4, 5, 6)

NameError: name 't' is not defined

In [32]:
s = input('Enter the elements of the tuple : ')
s1 = s.split()
t = tuple(map(int, s1))
print('The tuple t : ', t)

slc = t[3:7]

print('The sliced part of tuple t, slc : ', slc)

Enter the elements of the tuple :  1 2 3 4 5 6 7 8 9

The tuple t :  (1, 2, 3, 4, 5, 6, 7, 8, 9)
The sliced part of tuple t, slc :  (4, 5, 6, 7)

In [33]:
s = input('Enter the elements of the tuple : ')
s1 = s.split()
t = tuple(map(int, s1))

maxval = max(t)

print('The max value of the tuple is :',maxval)

Enter the elements of the tuple :  1 2 3 4 5 6

The max value of the tuple is : 6

In [34]:
s = input('Enter the elements of the tuple : ')
s1 = s.split()
t = tuple(map(int, s1))

minval = min(t)

print('The min value of the tuple is : ', minval)

Enter the elements of the tuple :  1 2 3 4 5 6

The min value of the tuple is :  1

In [1]:
s = input('Enter the string of your desire : ')
t =  tuple(s)
print('The tuple, derived from the string is : ', t)

Enter the string of your desire :  Hello My Name is Anthony Gonsalvez

The tuple, derived from the string is :  ('H', 'e', 'l', 'l', 'o', ' ', 'M', 'y', ' ', 'N', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'A', 'n', 't', 'h', 'o', 'n', 'y', ' ', 'G', 'o', 'n', 's', 'a', 'l', 'v', 'e', 'z')

In [3]:
t = ( 1, '1', 1.0, (1+1j), True)
print('The tuple containing various data types : ', t)

The tuple containing various data types :  (1, '1', 1.0, (1+1j), True)

In [4]:
s = input('Enter the elements of the first tuple : ')
s1 = s.split()
t1 = tuple(map(int, s1))
print('The first tuple is : ', t1)
x = input('Enter the elements of the second tuple : ')
x1 = x.split()
t2 = tuple(map(int, x1))
print('The second tuple is : ', t2)

if t1 == t2 :
    print('The tuples are equal to each other')
else :
    print('The tuples are not equal to each other')

Enter the elements of the first tuple :  1 2 3 4

The first tuple is :  (1, 2, 3, 4)

Enter the elements of the second tuple :  5 6 7 8

The second tuple is :  (5, 6, 7, 8)
The tuples are not equal to each other

In [6]:
s = input('Enter the elements of the tuple : ')
s1 = s.split()
t = tuple(map(int, s1))
print('The Unsorted Tuple is : ', t)
l = list(t)
l = sorted(l)
t = tuple(l)
print('The sorted tuple is : ', t)

Enter the elements of the tuple :  1 4 7 3 2 9 5 11 12 16 8 6 17 10 19 18 15 14 13 20

The Unsorted Tuple is :  (1, 4, 7, 3, 2, 9, 5, 11, 12, 16, 8, 6, 17, 10, 19, 18, 15, 14, 13, 20)
The sorted tuple is :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [9]:
t1 = (1,2,3,4,5,6,7,8,9,10)
t2 = tuple(map(str, t1))
print('The tuple of integers "t1" : ',t1)
print('The tuple of strings "t2" : ',t2)

The tuple of integers "t1" :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
The tuple of strings "t2" :  ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [10]:
s = input('Enter the elements of the tuple : ')
s1 = s.split()
t1 = tuple(map(str, s1))
print('The tuple of strings "t1" : ', t1)
t2 = tuple(map(int, t1))
print('The tuple of string "t2" : ', t2)

Enter the elements of the tuple :  1 2 3 4 5 6 7 8 9 10

The tuple of strings "t1" :  ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
The tuple of string "t2" :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [12]:
t1 = ( 1, 2, 3, 4)
t2 = ( 'a', 'b', 'c', 'd')

merged_t = t1 + t2

print('The merged tuple is : ', merged_t)

The merged tuple is :  (1, 2, 3, 4, 'a', 'b', 'c', 'd')

In [13]:
t = ((1,2,3),(4,5,6,7),(8,9,10,11,12))

t1 =  tuple(i for n in t for i in n)

print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

In [14]:
def checkprime(a):
    if a <= 1 :
        return False
    elif a <= 3:
        return True
    elif a%2==0 or a%3==0:
        return False
    i = 5
    while i*i <= n :
        if n%i == 0 or n%(i+2) == 0 :
            return False
        i = i + 6
    return True

n = 0
l = []

while len(l) < 5:
    if checkprime(n):
        l.append(n)
    n = n + 1
    
t = tuple(l)

print('The tuple containing the first 5 prime numbers : ', t)

The tuple containing the first 5 prime numbers :  (2, 3, 5, 7, 11)

In [15]:
def checkpalindrome(t):
    return t == t[::-1]

s = input('Enter the elements of the tuple : ')
s1 = s.split()
t1 = tuple(map(str,s1))

if checkpalindrome(t1):
    print('The tuple is palindromic in nature')
else:
    print('The tuple is not palindromic in nature')

Enter the elements of the tuple :  1 2 3 4 5 4 3 2 1

The tuple is palindromic in nature

In [21]:
l = []
i = 1
for i in range(1,6):
    i = i*i
    l.append(i)
    i = i + 1
    

t = tuple(l)

print('The tuple containing the squares from 1 to 5 : ', t)

The tuple containing the squares from 1 to 5 :  (1, 4, 9, 16, 25)

In [2]:
l = []

for i in range(1,101):
    l.append(i)

t = tuple(i for i in l if i%2!=0)

print('The required tuple is : ', t)

The required tuple is :  (1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99)

In [3]:
l = []

for i in range(1,101):
    l.append(i)
    
t = tuple(i*2 for i in l)

print('The required tuple is : ', t)

The required tuple is :  (2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200)

In [4]:
import random 

t = tuple(random.randint(1,100) for i in range(20))

print('The tuple containing random elements is : ', t)

The tuple containing random elements is :  (41, 6, 29, 70, 16, 27, 52, 5, 16, 64, 77, 22, 16, 71, 50, 15, 13, 12, 44, 92)

In [5]:
def issortedornot(t):
    return t == tuple(sorted(t))

s1 = input('Enter the elements for the first tuple : ')
s1x = s1.split()
t1 = tuple(map(int , s1x))
print('The contents of the first tuple t1 : ',t1)

s2 = input('Enter the elements for the second tuple : ')
s2x = s2.split()
t2 = tuple(map(int , s2x))
print('The contents of the second tuple t2 : ',t2)

if issortedornot(t1):
    print('The tuple t1 is sorted')
else:
    print('The tuple t2 is not sorted')
    

if issortedornot(t2):
    print('The tuple t2 is sorted')
else:
    print('The tuple t2 is not sorted')

Enter the elements for the first tuple :  1 2 3 4 5 6 7

The contents of the first tuple t1 :  (1, 2, 3, 4, 5, 6, 7)

Enter the elements for the second tuple :  1 3 5 6 2 4 7

The contents of the second tuple t2 :  (1, 3, 5, 6, 2, 4, 7)
The tuple t1 is sorted
The tuple t2 is not sorted

In [6]:
def rotationleft(t, n):
    return t[n:] + t[:n]

t = (1,2,3,4,5,6,7,8)

n = 3

t1 = rotationleft(t,n)

print('The tuple after left rotation : ', t1)

The tuple after left rotation :  (4, 5, 6, 7, 8, 1, 2, 3)

In [7]:
def rotationleft(t, n):
    return t[-n:] + t[:-n]

t = (1,2,3,4,5,6,7,8)

n = 3

t2 = rotationleft(t,n)

print('The tuple after right rotation : ', t2)

The tuple after right rotation :  (6, 7, 8, 1, 2, 3, 4, 5)

In [1]:
def fibonacciseries(n):
    fiblist = [0,1]
    while len(fiblist)<n:
        nextnum = fiblist[-1] + fiblist[-2]
        fiblist.append(nextnum)
    return tuple(fiblist)

fibtuple = fibonacciseries(5)
print('The tuple contianing the first 5 fibonaci numbers are : ',fibtuple)

The tuple contianing the first 5 fibonaci numbers are :  (0, 1, 1, 2, 3)

In [2]:
s = input('Enter the  elements for the tuple : ')
s1 = s.split()
t = tuple(map(str, s1))

print('The tuple created as per user input is : ', t)

Enter the  elements for the tuple :  1 2 3 4 5 6 7 8

The tuple created as per user input is :  ('1', '2', '3', '4', '5', '6', '7', '8')

In [3]:
def swapt(t,i1,i2):
    l = list(t)
    l[i1],l[i2] =l[i2],l[i1]
    nt = tuple(l)
    return nt

s = input('Enter the elements of the tuple :')
s1 = s.split()
t = tuple(map(str,s1))
i1 = int(input('Enter the index to be swapped : '))
i2 = int(input('Enter the index to be swapped : '))

nt = swapt(t,i1,i2)

print('The new tuple is : ', nt)

Enter the elements of the tuple : 1 2 3 4 5 6
Enter the index to be swapped :  2
Enter the index to be swapped :  3

The new tuple is :  ('1', '2', '4', '3', '5', '6')

In [5]:
def rev(t):
    l = list(t)
    l.reverse()
    rt = tuple(l)
    return rt

s = input('Enter the elements of the tuple : ')
s1 = s.split()
t = tuple(map(str,s1))
rt = rev(t)
print('The reversed tuple is : ', rt)

Enter the elements of the tuple :  1 2 3 4 5 6

The reversed tuple is :  ('6', '5', '4', '3', '2', '1')

In [9]:
def powerz(n):
    t = tuple(2**i for i in range(n))
    return t

n = int(input('Enter the nth power of 2 : '))
t = powerz(n)
print('The tuple containing the desired results is : ', t)

Enter the nth power of 2 :  10

The tuple containing the desired results is :  (1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

In [10]:
def longstring(t):
    longest = ""
    for s in t:
        if len(s)>len(longest):
            longest = s
    return longest

s = input('Enter the strings of your desire : ')
s1 = s.split()
t = tuple(map(str,s1))
l = longstring(t)
print('The longest string present in the string is : ',l)

Enter the strings of your desire :  Hello my name is Anthony Gonsalvez

The longest string present in the string is :  Gonsalvez

In [3]:
def shortstring(t):
    shortest = t[0]
    for x in t:
        if len(x)<len(shortest):
            shortest = x
    return shortest

t = ('hello','my','guy''ron')
l = shortstring(t)
print('The short string present in the string is : ',l)

The short string present in the string is :  my

In [1]:
def triangnum(n):
    l = []
    for i in range(1,n+1):
        tn = ((i*(i+1))/2)
        l.append(tn)
    return tuple(l)

n = int(input('Enter the nth value for the series of the triangular numbers : '))
t = triangnum(n)
print('The series of triangular numbers inside of tuple is : ', t)

Enter the nth value for the series of the triangular numbers :  20

The series of triangular numbers inside of tuple is :  (1.0, 3.0, 6.0, 10.0, 15.0, 21.0, 28.0, 36.0, 45.0, 55.0, 66.0, 78.0, 91.0, 105.0, 120.0, 136.0, 153.0, 171.0, 190.0, 210.0)

In [1]:
def findseq(t,st):
    tlen = len(t)
    stlen = len(st)
    i,j = 0,0
    if stlen > tlen:
        return False
    while i < tlen :
        if st[j] == t[i]:
            j = j + 1
            if j == stlen:
                return True
            
        i = i + 1
    return False

ts = input('Enter the elements of the tuple : ')
t = tuple(map(int, ts.split()))
subts = input('Enter the elements of the sub tuple : ')
st = tuple(map(int, subts.split()))

if findseq(t,st):
    print('Subsequence is found inside of the tuple')
else:
    print('Subsequence is not found')

Enter the elements of the tuple :  1 2 3 4 5
Enter the elements of the sub tuple :  3 4

Subsequence is found inside of the tuple

In [5]:
n = int(input('Enter the desired range of the tuple : '))
t = tuple([1 if i%2==0 else 0 for i in range(n)])
print('The desired tuple is : ',t)

Enter the desired range of the tuple :  100

The desired tuple is :  (1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

Set Based Practice Problem :

In [6]:
s = {1,2,3,4,5}

In [1]:
s = {1,2,3,4,5,6}
n = 6
s.add(n)
print(s)

{1, 2, 3, 4, 5, 6}

In [2]:
s = {1,2,3,4,5}
p = s.pop()
print('Set : ', s)
print('Discarded element : ',p)

Set :  {2, 3, 4, 5}
Discarded element :  1

In [3]:
s = {1,2,3,4,5,6}
n = int(input('Enter the element to be checked for : '))
if n in s:
    print('Element is present inside of the set')
else:
    print('Element is not present inside of the set')

Enter the element to be checked for :  4

Element is present inside of the set

In [4]:
s = {1,2,3,4,5,6,7,8,9}
l = 0

for i in s:
    l = l + 1
    
print('The length of the set is : ',l)

The length of the set is :  9

In [6]:
s = {1,2,3,4,5,6}
s.clear()
print(s)

set()

In [7]:
s = {i for i in range(1,11) if i%2==0}
print('The set of even numbers is : ', s)

The set of even numbers is :  {2, 4, 6, 8, 10}

In [8]:
s = {i for i in range(1,11) if i%2!=0}
print('The set of even numbers is : ', s)

The set of even numbers is :  {1, 3, 5, 7, 9}

In [9]:
s1 = {1,2,3,4,5}
s2 = {'a','b','c','d','e'}

unionset = s1.union(s2)

print('The union of the sets is : ', unionset)

The union of the sets is :  {'b', 1, 2, 3, 4, 5, 'e', 'a', 'd', 'c'}

In [10]:
s1 = {1,2,3,4,5,6,7}
s2 = {1,2,3,4}

intersectionfind = s1.intersection(s2)

print('The intersection between two sets is : ', intersectionfind)

The intersection between two sets is :  {1, 2, 3, 4}

In [11]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

diff = s1 - s2

print('The difference : ', diff)

The difference :  {1, 2, 3}

In [12]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

subsz = s2 <= s1

print('Is s2 a subset of s1? : ', subsz)

Is s2 a subset of s1? :  False

In [14]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

supersz = s1.issuperset(s2)

print('Is s1 a superset of s2> : ', supersz)

Is s1 a superset of s2> :  False

In [15]:
l = [1,2,3,4,5]
s = set(l)
print('The set is : ', s)

The set is :  {1, 2, 3, 4, 5}

In [16]:
s = {1,2,3,4,5}
l = set(s)
print('The list is : ', l)

The list is :  {1, 2, 3, 4, 5}

In [18]:
s = {2,1,3,4,5}
p = s.pop()
print('Set : ', s)
print('Discarded element : ',p)

Set :  {2, 3, 4, 5}
Discarded element :  1

In [19]:
s = {400,70,1,23,567}
p = s.pop()
print('Set : ', s)
print('Discarded element : ',p)

Set :  {1, 567, 70, 23}
Discarded element :  400

In [20]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

disj = s1.isdisjoint(s2)

if disj:
    print('The sets have nothing in common')
else:
    print('The sets have common elements')

The sets have common elements

In [21]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

sd = s1.symmetric_difference(s2)

print('The symmetric difference between s1 and s2 is : ', sd)

The symmetric difference between s1 and s2 is :  {1, 2, 3, 6, 7, 8}

In [23]:
s1 = {1,2,3}
s2 = {4,5,6}

s1.update(s2)

print(s1)

{1, 2, 3, 4, 5, 6}

In [25]:
def checkprime(n):
    if n <= 1:
        return False
    if n <= 3 :
        return True
    if n%2==0 or n%3==0:
        return False
    i = 5
    while i*i<=n:
        if n%i==0 or n%(i+2)==0:
            return False
        i = i + 6
    return True

primenumberset = {n for n in range(2,30) if checkprime(n)}

firstfiveprime = set()
c = 0

for i in primenumberset:
    if c >= 5:
        break
    firstfiveprime.add(i)
    c = c + 1
    
print('The set of first five numbers is : ', firstfiveprime)

The set of first five numbers is :  {2, 3, 5, 7, 11}

In [26]:
s1 = {1,2,3,4}
s2 = {1,2,3,4}

if s1==s2:
    print('The sets are identical')
else:
    print('The sets are not identical')

The sets are identical

In [27]:
s = {1,2,3,4,5}
frz = frozenset(s)
print('The frozen set is : ', frz)

The frozen set is :  frozenset({1, 2, 3, 4, 5})

In [28]:
s1 = {1,2,3}
s2 = {'a','b','c'}

djs = s1.isdisjoint(s2)

if djs:
    print('The sets are disjointed in nature')
else:
    print('The sets are not disjointed in nature')

The sets are disjointed in nature

In [29]:
s = {n*n for n in range(1,6)}
print(s)

{1, 4, 9, 16, 25}

In [30]:
s = {n for n in range(1,101) if n%2!=0}
print(s)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99}

In [32]:
s = {n for n in range(1,101)}
print('The original set is : ',s)
print('\n')
s = {n*2 for n in range(1,101)}
print('The modified set is : ',s)

The original set is :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}


The modified set is :  {2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200}

In [34]:
import random

randset = set()

for i in range(1,51):
    randnum = random.randint(1,101)
    randset.add(randnum)
    
print('The set of random numbers : ', randset)

The set of random numbers :  {2, 6, 11, 14, 16, 19, 20, 21, 30, 31, 35, 36, 37, 45, 46, 47, 49, 51, 57, 59, 60, 61, 66, 69, 72, 77, 79, 83, 85, 87, 89, 92, 97, 98, 100}

In [35]:
s = {1,2,3,4,5}

s.clear()

if not s:
    print('The set is clear')
else:
    print('The set has elements inside of it')

The set is clear

In [37]:
s = {frozenset({1,2,3}),frozenset({4,5,6}),frozenset({7,8,9})}
print(s)

{frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

In [38]:
s = {'a','b','c','d','e'}
s.discard('d')
print(s)

{'b', 'e', 'a', 'c'}

In [39]:
s1 = {1,2,3}
s2 = {'x','y','z'}

if s1==s2:
    print('The sets are equal')
else:
    print('The sets are not equal')

The sets are not equal

In [42]:
s = input('Enter the string of your choice : ')
sx = {n for n in s}
print('The set is : ', sx)

Enter the string of your choice :  rasputin

The set is :  {'r', 't', 'p', 'a', 's', 'u', 'i', 'n'}

In [46]:
s = input('Enter the string of your choice : ')
sx = {n for n in s}
print('The set of strings is : ', sx)
isx = set()

for item in sx:
    try:
        i = int(item)
        isx.add(i)
    except ValueError:
        pass
    
print('The set of integers is : ',isx)

Enter the string of your choice :  1 23 56 78

The set of strings is :  {'3', '6', '8', '1', '5', '7', '2', ' '}
The set of integers is :  {1, 2, 3, 5, 6, 7, 8}

In [48]:
isx = {1,2,3,4,5,6}

sx = set()

for item in isx:
    i = str(item)
    sx.add(i)
    
print('The set of strings is : ', sx)

The set of strings is :  {'3', '4', '6', '1', '5', '2'}

In [49]:
t = (2,4,6,8,10,12)
s = set(t)
print(s)

{2, 4, 6, 8, 10, 12}

In [50]:
s = {2,4,6,8,10,12}
t = tuple(s)
print(s)

{2, 4, 6, 8, 10, 12}

In [51]:
s = {1,45,670,9,20}
maximum_value = max(s)
print('The maximum value present in the set is : ', maximum_value)

The maximum value present in the set is :  670

In [52]:
s = {1,45,670,9,20}
minimum_value = min(s)
print('The minimum value present in the set is : ', minimum_value)

The minimum value present in the set is :  1

In [53]:
s = input('Enter the elements for the string : ')
s1 = s.split()
sx = set()

for item in s1:
    try:
        sx.add(int(item))
    except ValueError:
        print('Skip')
        
print('The set is : ', sx)

Enter the elements for the string :  1 2 3 4 5 6 7 8

The set is :  {1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
s1 = {1,2,3}
s2 = {4,5,6}

if s1.isdisjoint(s2):
    print('The intersection of s1 and s2 is empty')
else:
    print('The intersection of s1 and s2 is not empty')

The intersection of s1 and s2 is empty

In [56]:
def genfib(n):
    fib = set()
    a,b = 0,1
    for i in range(n):
        fib.add(a)
        a,b = b, a+b
    return fib

firstfivefib = genfib(6)

print('The set of the first five fibonaacci series is : ',firstfivefib)

The set of the first five fibonaacci series is :  {0, 1, 2, 3, 5}

In [57]:
l = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
s = set(l)
print(s)

{1, 2, 3, 4, 5}

In [58]:
a = {1,2,3,4,5}
b = {5,3,2,4,1}

if a==b:
    print('The sets have the same elements')
else:
    print('The sets dont have the same elements')

The sets have the same elements

In [63]:
n = int(input('Enter the nth power of 2 : '))
s = {2**i for i in range(n+1)}
l =  sorted(s)
s = set(l)
print(s)

Enter the nth power of 2 :  5

{32, 1, 2, 4, 8, 16}

In [64]:
s = {1,2,3,4,5,6,7,8}
l = [3,4,5,6,7,8,9]

commonele = s.intersection(l)

print('The common elements of the list and the set are : ', commonele)

The common elements of the list and the set are :  {3, 4, 5, 6, 7, 8}

In [12]:
def gentrian(n):
    trianset = set()
    triannum = 0
    
    for i in range(1,n+1):
        triannum = ((i*(i+1))/2)
        trianset.add(triannum)
        
    return trianset

n = 10
t = gentrian(n)
print(t)

{1.0, 3.0, 36.0, 6.0, 10.0, 45.0, 15.0, 21.0, 55.0, 28.0}

In [15]:
s1 = {1,2,3,4,5}
s2 = {3,4,6}

if s2.issubset(s1):
    print('s2 is a subset of s1')
else:
    print('s2 is not the subset of s1')

s2 is not the subset of s1

In [22]:
n = 10
s = set()

for i in range(n) :
    s.add(i%2)
    
  
    
print('The set containings 1s and 0s is : ',s)

The set containings 1s and 0s is :  {0, 1}